<div><b>Pull requests</b></div>
<%= @pulls %>
<% @pulls.each do |pull| %>
  <% #= pull.inspect %>
  <div>
    <div>sha <%= pull.sha %></div>
    <div>

      <% #= pull.pull.pullter.name %>
    </div>
    <div>message
      <% #= pull.pull.message %>
    </div>

    <br />
  </div>
  <br />
<% end %>