<%= render "info" %>
<div>
  <%= link_to "Commits", organization_repo_commits_path(params[:organization_id], params[:id]) %>
</div>

<div>
  <%= link_to "Master commits", master_organization_repo_commits_path(params[:organization_id], params[:id]) %>
</div>

<div>
  <%= link_to "Branches", organization_repo_branches_path(params[:organization_id], params[:id]) %>
</div>