
<% #= @repo.inspect %>

<% #= @rels.inspect %>

<% #= render "branches" %>

<% #= render "commits" %>

<%= render "info" %>
<div>
  <%= link_to "Commits", repo_commits_path(params[:id]) %>
</div>

<div>
  <%= link_to "Master commits from initial commit", master_from_initial_repo_commits_path(params[:id]) %>
</div>

<div>
  <%= link_to "Branches", repo_branches_path(params[:id]) %>
</div>